*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 245, 245);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img{
    height: 100%;
    width: 100%;
}

.card{
    max-width: 800px;
    padding: 16px;
    background-color: white;
    margin: 16px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px grey;
}
#btn{
    padding: 10px;
}