*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 245, 245);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img{
    height: 100%;
    width: 100%;
}

.card{
    max-width: 800px;
    padding: 16px;
    background-color: white;
    margin: 16px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px grey;
}
#btn{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    transition: 0.5s ease;
    box-shadow: 2px 2px 10px gray;
}
#btn:hover{
    box-shadow: 2px 2px 10px rgb(0, 0, 0);

}
#btn:active{
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.2);

}